/* ------------------------------------------------------------ *\
	Shell
\* ------------------------------------------------------------ */

.shell {
	max-width: $shell-max-width + $shell-gutter * 2;
	padding-right: $shell-gutter;
	padding-left: $shell-gutter;
	margin: auto;
	width: 100%; 

	&--fluid {
		max-width: none;
	}

	@media #{$tablet-portrait} {
		padding-left: 15px; 
		padding-right: 15px; 
	}
}
