<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Apocryph</title>

	<link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico" />

	<link href="https://fonts.googleapis.com/css?family=Quattrocento|VT323&display=swap" rel="stylesheet">
	
	<link rel="stylesheet" type="text/css" href="assets/css/bundle.css" />
	
	<!-- Search Engine -->
	<meta name="description" content="Consensus Network for Autonomous Agents">
	<meta name="image" content="http://apocryph.network/assets/images/social-media-preview.png">
	<!-- Schema.org for Google -->
	<meta itemprop="name" content="Apocryph.Network">
	<meta itemprop="description" content="Consensus Network for Autonomous Agents">
	<meta itemprop="image" content="http://apocryph.network/assets/images/social-media-preview.png">
	<!-- Open Graph general (Facebook, Pinterest & Google+) -->
	<meta name="og:title" content="Apocryph.Network">
	<meta name="og:description" content="Consensus Network for Autonomous Agents">
	<meta name="og:image" content="http://apocryph.network/assets/images/social-media-preview.png">
	<meta name="og:url" content="http://apocryph.network/">
	<meta name="og:site_name" content="Apocryph.Network">
	<meta name="og:locale" content="en_US">
	<meta name="og:type" content="website">

</head>
